@font-face {
  font-family: 'Italianno';
  src: url("../assets/Italianno/Italianno-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Baguette';
  src: url('../assets/baguette/Baguette.ttf') format('truetype');
}

@font-face {
  font-family: 'Baskerville';
  src: url('../assets/Baskervville/Baskervville-Italic.ttf') format('truetype');
}


body {
  margin: 0;
  padding: 0;
  position: relative;
  letter-spacing: 0.1px;
}
a{
  text-decoration: none;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

