@font-face {
  font-family: 'Italianno';
  src: url("../Italianno/Italianno-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Baguette';
  src: url('../baguette/Baguette.ttf') format('truetype');
}

@font-face {
  font-family: 'Baskerville';
  src: url('../Baskervville/Baskervville-Italic.ttf') format('truetype');
}


body {
  margin: 0;
  padding: 0;
  position: relative;
  letter-spacing: 0.1px;
}
a{
  text-decoration: none;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-ul:hover {
  background-color: rgba(255, 255, 255, 1);
}

.img-logo:hover {
  background-color: rgba(255, 255, 255, 1);
}

.nav-li {
  color: black;
  font-size: 20px;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  position: relative;
  cursor: pointer;
}

.nav-li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-li:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.home {
  background-image: url('../public/images/randomRes.jpg');
  background-size: contain;
}

.homePage {
  text-align: center;
  margin-bottom: 320px;
}

.homePage img {
  margin-top: 30px;
}

.homePage p {
  color: white;
  font-size: 70px;
  margin: 0;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.slide-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.slide-in-active {
  opacity: 1;
  transform: translateY(0);
}

.slide-in:nth-child(1),
.slide-in:nth-child(2),
.slide-in:nth-child(3) {
  transition-delay: 0.3s;
}

.about {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}

.about-res {
  color: black;
  text-align: center;
  padding: 50px;
  width: 500px;
}

.about-res h2 {
  font-family: "Italianno";
  font-size: 42px;
  font-weight: 100;
  margin: 0;
}

.about-res h3 {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}

.about-res p {
  text-align: start;
  font-size: 16px;
  margin: auto;
  line-height: 1.6;
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.about-res span {
  font-weight: bold;
}

.about-image {
  padding: 80px;
}

.gallery-header,.rooms-header{
  background-color: #f2f2f2;
  text-align: center;
}
.gallery-header h1{
  margin: 0;
  font-family: Italianno;
  font-size: 48px;
}
.gallery-header p{
  margin: 0;
  font-size: 48px;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.img-icon{
  padding-top: 40px;
  padding-bottom: 40px;
}
.gallery,.gallery-room {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
  grid-gap: 0;
}

.gallery img {
  width: 100%;
  height: 350px;
  margin: -2px;
}
.gallery-room img{
  width: 100%;
  height: 450px;
  margin: -2px;
  transition: 0.5s;
}

.gallery-room img:hover{
  transform: scale(1.03);
  transition: 0.5s;
  
}
.gallery img:hover{
  filter: brightness(30%);
}

.image-container {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: Italianno;
}

/* Kada je miš iznad slike */
.gallery img:hover {
  filter: brightness(30%);
  transition: filter 0.3s ease-in-out;
}

/* Kada je miš iznad slike ili teksta */
.image-container:hover .overlay-text {
  opacity: 1;
}
/* Dodajemo efekat na sliku kada se pređe preko nje */
.image-container:hover img {
  filter: brightness(30%);
  transition: filter 0.3s ease-in-out;
}

/* Dodajemo efekat na tekst overlay-a kada se pređe preko slike */
.image-container:hover .overlay-text {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Ignorišemo promene na slici kada se pređe preko teksta */
.overlay-text:hover {
  pointer-events: none;
}


.about-rooms{
  background-color: #f2f2f2;
  padding: 60px;
  text-align: center;
} 
.about-rooms h1{
  font-family: Italianno;
  font-size: 46px;
  text-align: center;
  margin: 0;
}
.about-rooms h2{
  font-family:"Cinzel", Sans-serif;
  font-size: 36px;
  text-align: center;
  margin: 0;
}
.about-rooms p{
  font-family:'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 20px;
}
.about-rooms button{
    padding: 10px 20px;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 50px;
    font-size: 28px;
    border: 1px solid black;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.5s;
}

.about-rooms button:hover{
  background-color: wheat;
  transition: 0.5s;
}

.footer{
  margin-top: 100px;
  text-align: center;
  background-color: #444;
  font-family: "Inter", Sans-serif;
}
.map{
  margin-top: 20px;
  margin-bottom: 40px;
}
.location{
  font-size: 26px;
  color: #fe6367;
}
.footer h2{
  font-size: 18px;
  color: #fff;
  margin: 0;
  padding: 5px;
}

.footer hr{
  width: 35%;
}
.links{
  margin-top: 30px;
}
.links a{
  padding: 30px;
  font-size: 34px;
  color: white;
}
.footer p{
  color: #fff;
  margin: 0;
}




.ask-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.ask-form input[type='text'],
.ask-form input[type='email'],
.ask-form textarea {
  padding: 10px;
  margin: 5px 0;
  width: 500px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  transition: border-color 0.3s ease; 
}

.ask-form input[type='text']:focus,
.ask-form input[type='email']:focus,
.ask-form textarea:focus {
  outline: none;
  border-color: #007bff; 
}
.textarea{
  height: 250px;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}

.ask-form button {
  margin: 5px 0;
  padding: 10px; 
  width: 100%; 
}

.ask-form button {
  cursor: pointer;
  background-color: #007bff; 
  color: white; 
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.ask-form button:hover {
  background-color: #0056b3; 
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 30px; 
}

.contact-info {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info span {
  margin: 5px 0;
}

.contact h1{
  font-size: 55px;
  margin: 0;
  font-family:'Roboto Slab', Helvetica, Arial, sans-serif;
}
.contact p{
  font-size: 20px;
}
.react-icons{
  font-size: 40px;
  padding: 15px;
  color: wheat;
}
.contact-info span{
  font-size: 22px;
  font-family:'Roboto Slab', Helvetica, Arial, sans-serif;
}





.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.menu h1,.wine h1{
  text-align: center;
  font-family: Italianno;
  font-size: 65px;
}

.menu {
  margin: 0 auto; 
  padding: 0 20px; 
}
.wine{
  margin: 0;
}

.food-category,.wine-category {
  font-size: 50px;
  margin-bottom: 15px;
  font-family: Italianno; 
  text-align: center;
  font-weight: 100;
}


.single-food,.single-wine {
  border-bottom: 1px dashed #ccc; 
  padding: 10px 0;
  font-family:'Baskerville';
}

/* Stilovi za naziv i cenu hrane */
.food-name-price,.wine-name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food-name-price span,.wine-name-price span{
  font-weight: bold;
}

/* Stilovi za naziv hrane */
.food-name,.wine-name {
  font-size: 20px;
}

/* Stilovi za cenu hrane */
.food-price,.wine-price {
  font-size: 20px;
  color: #666;
}

/* Stilovi za opis hrane */
.about-food,.about-wine {
  color: #888;
  margin-top: 5px;
}
.wine-grid,.menu-grid {
  display: grid;
  grid-template-columns: auto 1fr auto; /* Prva i poslednja kolona za slike, a srednja za spisak vina */
  align-items: center; /* Centriranje po vertikali */
}

.wine-image-left,
.wine-image-right,
.food-image-left {
  width: 400px; 
  height: auto; 
}
.food-image-right{
  height: 300px;
  margin-top: 400px;
}
.food-image-left{
  margin-bottom: 800px;
}
.wine-image-left{
  margin-bottom: 500px;
}
.wine-image-right{
  margin-top: 500px;
}
.wine-list {
  padding: 0 20px; 
}



.rooms-page{
  text-align: center;
}
.rooms-page h1{
  font-family: Italianno;
  font-size: 60px;
  margin: 0;
}
.rooms-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rooms-container p{
  color: black;
  padding: 5px;
  margin: 0;
}
.rooms-container span{
  color: black;
  font-size: 12px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.room {
  margin: 10px;
  text-align: center; 
}
.reserve-button span{
  padding: 5px;
  color: #666;
  font-size: 14px;
}
.reserve-button{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.reserve-button button {
  margin: auto;
  width: 40%; /* Širina dugmeta */
  background-color: #29ad2d; /* Boja pozadine */
  border: none; /* Uklonite ivice */
  padding: 10px; /* Podešavanje prostora unutar dugmeta */
  color: white; /* Boja teksta */
  cursor: pointer; /* Promena kursora na pokazivač kada se pređe preko dugmeta */
  border-radius: 5px; /* Zaobljeni ivici */
  text-align: center; /* Centriranje teksta */
  text-decoration: none; /* Uklanjanje podvučenosti */
  display: block; /* Blok element */
  font-size: 16px; /* Veličina fonta */
  transition:  0.3s
}

.reserve-button button:hover {
  background-color: #52a156; /* Boja pozadine na hover */
  color: black;
  transition: 0.3s;
}

.room img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px; 
}

.room {
  position: relative;
}
.room p{
  font-family:'Georgia';
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
}
.room p:hover{
  color: rgb(255, 166, 0);
  transition: 0.3s;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: Italianno;
}
.room img:hover {
  filter: brightness(30%);
  transition: filter 0.3s ease-in-out;
}

/* Kada je miš iznad slike ili teksta */
.room:hover .overlay-text {
  opacity: 1;
}
/* Dodajemo efekat na sliku kada se pređe preko nje */
.room:hover img {
  filter: brightness(30%);
  transition: filter 0.3s ease-in-out;
}

/* Dodajemo efekat na tekst overlay-a kada se pređe preko slike */
.room:hover .overlay-text {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Ignorišemo promene na slici kada se pređe preko teksta */
.overlay-text:hover {
  pointer-events: none;
}
.rooms-info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding-bottom: 80px;
}

.rooms-info-left {
  width: 35%;
}
.rooms-info-left p{
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
.rooms-info-left span{
  font-weight: bold;
}
.rooms-info-right {
  width: 45%;
}

.reviews {
  display: flex;
}

.arrows {
  font-size: 30px;
  width: 30px;
  cursor: pointer; 
}

.solo-review {
  font-size: 20px;
  margin: 0 20px; 
  flex-grow: 1; 
}
.rooms-info-right h2,.rooms-info-left h2{
  font-family: Italianno;
  font-size: 40px;
}
.reviews button{
  background-color: white;
  padding: 10px;
  border: none;
}
.icons{
  padding-top: 40px;
  color: green;
  font-size: 50px;
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: auto;
}



.reservation {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.reservation-img{
  text-align: center;
}
.reservation-img img{
  width: 250px;
  margin: 0;
}
form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: Italianno;
}

.label-form {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

input[type='date'],
input[type='text'],
input[type='email'],
input[type='number'],
textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.reservation-form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
}

.reservation-form button:hover {
  background-color: #45a049;
}
.reservationInfoContainer {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-family:  Arial, Helvetica, sans-serif;
}

.reservationInfo {
  margin-bottom: 20px;
}

.details p {
  margin-bottom: 10px;
}

.roomInfo p {
  margin-bottom: 10px;
}

.contact-details {
  margin-top: 30px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-align: center;
}

.contact-details h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.contact-details span {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  padding: 10px;
}

.contact-details svg {
  vertical-align: middle;
  margin-right: 5px;
}
.icon{
  font-size: 30px;
  color: #45a049;
}
.backLink {
  display: block;
  margin-top: 20px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-family:  Arial, Helvetica, sans-serif;
  transition: 0.3s;
}

.backLink:hover {
  transform: scale(1.2)
}
/* Stilizacija input polja */
.admin-form {
  width: 400px;
  margin: auto;
  text-align: center;
}

.admin-form input,
.admin-form button {
  display: block;
  width: calc(100% - 22px); /* Računa širinu smanjenu za padding i border */
  padding: 10px;
  margin: 0 auto 15px; /* 0 na vrhu, automatski na bočnim stranama, 15px na dnu */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Stilizacija gumba */
.admin-form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.admin-form button:hover {
  background-color: #0056b3;
}

.admin-button {
  padding: 10px 20px;
  margin: 2px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}


.admin-button{
  padding: 10px 20px;
  margin: 2px;
  color: #fff; /* Bijela boja teksta */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.update-div-room{
  width: 400px;
}
.reservation-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.reservation-list li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.reservation-list li p {
  margin: 5px 0;
}

.reservation-list li span {
  display: block;
  margin-bottom: 5px;
}

.reservation-list li label {
  display: block;
  margin-top: 5px;
  font-weight: bold;
}
.messages-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.messages-list li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  width: 400px;
}

.messages-list li span {
  display: block;
  margin-bottom: 5px;
}

.messages-list li button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.messages-list li button:hover {
  background-color: darkred;
}
























/* CSS za Media Query za telefone */
@media only screen and (min-width: 250px) and (max-width: 768px) {
  
  .nav-ul {
    /* Skrivanje navigacije po default-u na manjim ekranima */
    display: block;
    padding: 20px;
    text-align: start;
    top: 60px; /* Visina header-a */
    z-index: 998; /* Z-index malo manji od gumba za otvaranje */
    background:none;
    background-color: rgba(255, 255, 255, 1);
    
  }
  .nav {
    display: none;
  }
  
  .nav.open {
    display: block;
    
  }

  .nav-ul.open {
    display: flex;
  }

  .menu-toggle {
    display: block; /* Prikazivanje gumba sa tri crtice */
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999; /* Postavljanje gumba iznad navigacije */
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px auto;
    transition: all 0.3s ease; /* Animacija za gumb */
  }

  .menu-toggle.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-li {
    margin-right: 0;
    margin-top: 20px; 
    margin-bottom: 10px;
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  nav img{
    display: none;
    
  }
  .home {
    background-image: url('../public/images/randomRes.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .homePage img{
    width: 200px;
  }
  .homePage p {
    font-size: 28px;
  }
  .homePage {
    margin-bottom: 160px;
  }
  .about{
    display: block;
    text-align: center;
    margin: auto;
  }
  .about-img{
    display: none;
  }

  .about-res {
    width: 85%;
    padding: 30px;
    
  }
  .about-res h2{
    font-family: 'Italianno';
    font-size: 30px;
  }
  .about-res h3{
    font-size: 32px;
  }
  .about-res p {
    width: 70%;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
  }
  .gallery {
    display: block;
  }
  .gallery-header h1{
    font-family: 'Italianno';
    font-size: 28px;
  }
  .gallery-header p{
    font-size: 28px;
  }
  .gallery img {
    width: 100%;
    height: auto;
  }
  .gallery img:hover{
    filter: brightness(30%);
  }
  
  .image-container {
    position: relative;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: Italianno;
  }
  
  /* Kada je miš iznad slike */
  .gallery img:hover {
    filter: brightness(30%);
    transition: filter 0.3s ease-in-out;
  }
  
  /* Kada je miš iznad slike ili teksta */
  .image-container:hover .overlay-text {
    opacity: 1;
  }
  /* Dodajemo efekat na sliku kada se pređe preko nje */
  .image-container:hover img {
    filter: brightness(30%);
    transition: filter 0.3s ease-in-out;
  }
  
  /* Dodajemo efekat na tekst overlay-a kada se pređe preko slike */
  .image-container:hover .overlay-text {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  /* Ignorišemo promene na slici kada se pređe preko teksta */
  .overlay-text:hover {
    pointer-events: none;
  }
  
  .about-rooms {
    padding: 30px;
    margin: 0;
    text-align: center;
    width: auto;
  }
  .about-rooms h1 {
    font-size: 36px;
  }
  .about-rooms h2 {
    font-size: 28px;
  }
  .about-rooms p {
    text-align: center;
  }
  .about-rooms button {
    font-size: 20px;
  }
  .room-images{
    display: block;
  }
  .room-images img{
    width: 100%;
  }

  .menu-grid,.wine-grid {
    display: block;
  }
  .menu h1,.wine h1{
    text-align: center;
    font-family: Italianno;
    font-size: 35px;
  }

  .food-image-left,
  .food-image-right,
  .wine-image-left,
  .wine-image-right {
    display: none;
  }

  .menu,.wine {
    padding: 20px;
  }


  .food-name-price,.wine-name-price {
    display: flex;
    justify-content: space-between;
  }

  .food-name,
  .food-price
  .wine-name,
  .wine-price {
    display: inline-block;
  }
  .img-logo {
    max-width: 100px;
  }
  .map{
    width: 350px;
  }
  .ask-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
  }

  .ask-form input[type='text'],
  .ask-form input[type='email'],
  .ask-form textarea {
    width: 100%; /* Širina polja je 100% na manjim ekranima */
    max-width: 90%; /* Maksimalna širina polja */
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 60px;
  }

  .contact-info {
    margin-top: 20px; /* Prilagodite margine */
  }

  .contact h1 {
    font-size: 20px; /* Prilagodite veličinu naslova */
    margin-bottom: 10px; /* Prilagodite margine */
  }

  .contact p {
    font-size: 12px; /* Prilagodite veličinu teksta */
    margin-bottom: 20px; /* Prilagodite margine */
  }

  .contact-info .react-icons {
    font-size: 30px; /* Prilagodite veličinu ikona */
    padding: 10px; /* Prilagodite prostor oko ikona */
  }

  .contact-info span {
    font-size: 18px; /* Prilagodite veličinu teksta */
  }
  .rooms-page{
    margin-top: 60px;
  }
  .rooms-container img{
    width: 90%;
    margin: auto;
  }
  .rooms-info{
    display: block;
  }
  .rooms-info-left,.rooms-info-right{
    text-align: center;
    width: 100%;
  }
  .rooms-info-left h2,.rooms-info-right h2{
    text-decoration: underline;
  }
  .rooms-info-left p{
    padding: 20px;
    width: 90%;
    text-align: start;
    font-size: 14px;
  }
  .reservation-list {
    list-style-type: none;
    padding: 0;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
  }
  .reservation-list li{
    width: 95%;
  }
  .messages-list {
    list-style-type: none;
    padding: 0;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
  }
  .messages-list li{
    width: 95%;
  }
}



/* CSS za Media Query za tablete */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .home {
    background-image: url('../public/images/randomRes.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .about-image img{
    width: 350px;
  }
  .image-container img{
    width: 100%;
    
  }
  .menu-grid,.wine-grid {
    display: block;
  }

  .food-image-left,
  .food-image-right,
  .wine-image-left,
  .wine-image-right {
    display: none;
  }

  .menu,.wine {
    padding: 20px;
  }

  

  .food-name-price,.wine-name-price {
    display: flex;
    justify-content: space-between;
  }

  .food-name,
  .food-price
  .wine-name,
  .wine-price {
    display: inline-block;
  }

  .header {
    position: sticky;
    width: 100%;
    z-index: 999;
    
  }

  .nav {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 10px 20px;
  }

  .nav-ul {
    list-style-type: none;
    margin: auto;
  }

  .nav-li {
    font-size: 12px;
    padding: 30px;
  }

  .img-logo {
    max-width: 100px;
  }
  .gallery{
    display: block;
  }
  .image-container img{
    width: 100%;
    height: auto;
  }
  .rooms {
    display: flex;
    flex-direction: column;
    width: auto;
    
  }
  .about-rooms {
    padding: 30px;
    margin: 0;
    text-align: center;
    width: auto;
  }
  .about-rooms h1 {
    font-size: 36px;
  }
  .about-rooms h2 {
    font-size: 28px;
  }
  .about-rooms p {
    text-align: center;
  }
  .about-rooms button {
    font-size: 20px;
  }
  .gallery-rooms{
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  .image-container-room img{
    width: 550px;
    height: 500px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
  }
  .image-container-room img{
    transition: 0
  }
  
  .image-container-room img:hover{
    transform: scale(1) 
  }
  
  .ask-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
  }

  .ask-form input[type='text'],
  .ask-form input[type='email'],
  .ask-form textarea {
    width: 100%; /* Širina polja je 100% na manjim ekranima */
    max-width: 100%; /* Maksimalna širina polja */
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* Visina se automatski prilagođava sadržaju */
    margin-top: 10px; /* Smanjite marginu za veći prostor na manjim ekranima */
  }

  .contact-info {
    margin-top: 20px; /* Prilagodite margine */
  }

  .contact h1 {
    font-size: 30px; /* Prilagodite veličinu naslova */
    margin-bottom: 10px; /* Prilagodite margine */
  }

  .contact p {
    font-size: 18px; /* Prilagodite veličinu teksta */
    margin-bottom: 20px; /* Prilagodite margine */
  }

  .contact-info .react-icons {
    font-size: 30px; /* Prilagodite veličinu ikona */
    padding: 10px; /* Prilagodite prostor oko ikona */
  }

  .contact-info span {
    font-size: 18px; /* Prilagodite veličinu teksta */
  }
  .rooms-info{
    display: block;
  }
  .rooms-info-left,.rooms-info-right{
    text-align: center;
    width: 100%;
  }
  .rooms-info-left h2,.rooms-info-right h2{
    text-decoration: underline;
  }
  .rooms-info-left p{
    padding: 20px;
    width: 90%;
    text-align: start;
    
  }
}


/* CSS za Media Query za laptop i desktop uređaje */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  .home {
    background-image: url('../public/images/randomRes.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }
 

  .header{
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .wine,.menu,.contact{
    margin-top: 40px;
  }
  .rooms-page{
    margin-top: 100px;
  }
  .nav-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 ;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0;
    transition: 0.3s;
  }
  .nav-ul:hover{
    background-color: rgba(255, 255, 255, 1); 
    transition: 0.3s;
  }
  .img-logo:hover{
    background-color: rgba(255, 255, 255, 1);
    transition: 0.3s;
  }
  
  .nav-li{
    color: black;
    font-size: 16px;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    padding: 0 30px 0 30px;
  }
  .nav-li::after {
    content: ''; /* Dodajemo sadržaj pseudo-elementa */
    position: absolute; /* Postavljamo apsolutnu poziciju */
    left: 0; /* Poravnavamo početak podvlačenja sa početkom teksta */
    bottom: -3px; /* Podešavamo udaljenost podvlačenja od teksta */
    width: 100%; /* Postavljamo širinu podvlačenja da bude jednaka širini teksta */
    height: 2px; /* Postavljamo visinu podvlačenja */
    background-color: black; /* Boja podvlačenja */
    visibility: hidden; /* Podrazumevano je skriveno */
    transform: scaleX(0); /* Skaliramo po X osi na nulu kako bismo ga inicijalno sakrili */
    transition: all 0.3s ease-in-out; /* Dodajemo prelazni efekat */
  }
  
  .nav-li:hover::after {
    visibility: visible; /* Postavljamo vidljivost podvlačenja na hover */
    transform: scaleX(1); /* Skaliramo po X osi na 1 kako bismo ga prikazali */
  }
  .nav-toggle {
    display: none; /* Dugme za otvaranje se podrazumevano ne prikazuje */
  }




  .menu-grid,.wine-grid {
    display: block;
  }

  .food-image-left,
  .food-image-right,
  .wine-image-left,
  .wine-image-right {
    display: none;
  }

  .menu,.wine {
    padding: 20px;
  }

  

  .food-name-price,.wine-name-price {
    display: flex;
    justify-content: space-between;
  }

  .food-name,
  .food-price,
  .wine-name,
  .wine-price {
    display: inline-block;
  }

  .header {
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  .img-logo {
    max-width: 100px;
  }
  .ask-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
  }

  .ask-form input[type='text'],
  .ask-form input[type='email'],
  .ask-form textarea {
    width: 100%; /* Širina polja je 100% na manjim ekranima */
    max-width: 100%; /* Maksimalna širina polja */
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* Visina se automatski prilagođava sadržaju */
    margin-top: 10px; /* Smanjite marginu za veći prostor na manjim ekranima */
  }

  .contact-info {
    margin-top: 20px; /* Prilagodite margine */
  }

  .contact h1 {
    font-size: 30px; /* Prilagodite veličinu naslova */
    margin-bottom: 10px; /* Prilagodite margine */
  }

  .contact p {
    font-size: 18px; /* Prilagodite veličinu teksta */
    margin-bottom: 20px; /* Prilagodite margine */
  }

  .contact-info .react-icons {
    font-size: 30px; /* Prilagodite veličinu ikona */
    padding: 10px; /* Prilagodite prostor oko ikona */
  }

  .contact-info span {
    font-size: 18px; /* Prilagodite veličinu teksta */
  }
}

