.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 30px; 
}

.contact-info {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info span {
  margin: 5px 0;
}

.contact h1{
  font-size: 55px;
  margin: 0;
  font-family:'Roboto Slab', Helvetica, Arial, sans-serif;
}
.contact p{
  font-size: 20px;
}
.react-icons{
  font-size: 40px;
  padding: 15px;
  color: wheat;
}
.contact-info span{
  font-size: 22px;
  font-family:'Roboto Slab', Helvetica, Arial, sans-serif;
}
.ask-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.ask-form input[type='text'],
.ask-form input[type='email'],
.ask-form textarea {
  padding: 10px;
  margin: 5px 0;
  width: 500px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  transition: border-color 0.3s ease; 
}

.ask-form input[type='text']:focus,
.ask-form input[type='email']:focus,
.ask-form textarea:focus {
  outline: none;
  border-color: #007bff; 
}
.textarea{
  height: 250px;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}

.ask-form button {
  margin: 5px 0;
  padding: 10px; 
  width: 100%; 
}

.ask-form button {
  cursor: pointer;
  background-color: #007bff; 
  color: white; 
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.ask-form button:hover {
  background-color: #0056b3; 
}


@media only screen and (min-width: 250px) and (max-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 60px;
  }

  .contact-info {
    margin-top: 20px; 
  }

  .contact h1 {
    font-size: 20px;
    margin-bottom: 10px; 
  }

  .contact p {
    font-size: 12px; 
    margin-bottom: 20px;
  }

  .contact-info .react-icons {
    font-size: 30px; 
    padding: 10px; 
  }

  .contact-info span {
    font-size: 18px; 
  }
  .ask-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
  }

  .ask-form input[type='text'],
  .ask-form input[type='email'],
  .ask-form textarea {
    width: 100%; 
    max-width: 90%; 
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; 
    margin-top: 10px; 
  }

  .contact-info {
    margin-top: 20px; 
  }

  .contact h1 {
    font-size: 30px; 
    margin-bottom: 10px; 
  }

  .contact p {
    font-size: 18px;
    margin-bottom: 20px; 
  }

  .contact-info .react-icons {
    font-size: 30px; 
    padding: 10px; 
  }

  .contact-info span {
    font-size: 18px; 
  }
  .ask-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
  }

  .ask-form input[type='text'],
  .ask-form input[type='email'],
  .ask-form textarea {
    width: 100%; 
    max-width: 100%; 
  }

}

@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; 
    margin-top: 10px; 
  }

  .contact-info {
    margin-top: 20px;
  }

  .contact h1 {
    font-size: 30px;
    margin-bottom: 10px; 
  }

  .contact p {
    font-size: 18px; 
    margin-bottom: 20px; 
  }

  .contact-info .react-icons {
    font-size: 30px; 
    padding: 10px; 
  }

  .contact-info span {
    font-size: 18px;
  }
  .ask-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
  }

  .ask-form input[type='text'],
  .ask-form input[type='email'],
  .ask-form textarea {
    width: 100%; 
    max-width: 100%; 
  }
}